In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings

# warnings.filterwarnings('ignore')
plt.rcParams['figure.dpi'] = 80

import sys
sys.path.insert(0, '..')

import os
from pathlib import Path

from hypers import weight_hypers
from hypers import alpha_hypers 

from experiment import Params
from experiment import run_experiments
from experiment import load_experiments
from experiment import draw_logs
from experiment import experiments_to_df

from analysis import draw_several
from analysis import extract_needed

In [2]:
experiments_10, df_10 = load_experiments('../results/experim_10.json')
experiments_11, df_11 = load_experiments('../results/experim_11.json')
experiments_12, df_12 = load_experiments('../results/experim_12.json')
experiments_13, df_13 = load_experiments('../results/experim_13.json')
experiments_14, df_14 = load_experiments('../results/experim_14.json')
experiments_15, df_15 = load_experiments('../results/experim_15.json')
experiments_16, df_16 = load_experiments('../results/experim_16.json')
experiments_17, df_17 = load_experiments('../results/experim_17.json')
experiments_18, df_18 = load_experiments('../results/experim_18.json')
experiments_19, df_19 = load_experiments('../results/experim_19.json')
experiments_20, df_20 = load_experiments('../results/experim_20.json')
experiments_21, df_21 = load_experiments('../results/experim_21.json')
experiments_22, df_22 = load_experiments('../results/experim_22.json')
experiments_23, df_23 = load_experiments('../results/experim_23.json')
experiments_24, df_24 = load_experiments('../results/experim_24.json')
experiments_25, df_25 = load_experiments('../results/experim_25.json')
experiments_26, df_26 = load_experiments('../results/experim_26.json')
experiments_27, df_27 = load_experiments('../results/experim_27.json')
experiments_28, df_28 = load_experiments('../results/experim_28.json')
experiments_29, df_29 = load_experiments('../results/experim_29.json')
experiments_30, df_30 = load_experiments('../results/experim_30.json')
experiments_31, df_31 = load_experiments('../results/experim_31.json')
experiments_32, df_32 = load_experiments('../results/experim_32.json')
experiments_33, df_33 = load_experiments('../results/experim_33.json')
experiments_34, df_34 = load_experiments('../results/experim_34.json')
experiments_35, df_35 = load_experiments('../results/experim_35.json')
experiments_36, df_36 = load_experiments('../results/experim_36.json')
experiments_37, df_37 = load_experiments('../results/experim_37.json')
experiments_38, df_38 = load_experiments('../results/experim_38.json')
experiments_39, df_39 = load_experiments('../results/experim_39.json')
experiments_40, df_40 = load_experiments('../results/experim_40.json')
experiments_41, df_41 = load_experiments('../results/experim_41.json')
experiments_42, df_42 = load_experiments('../results/experim_42.json')
experiments_43, df_43 = load_experiments('../results/experim_43.json')
experiments_44, df_44 = load_experiments('../results/experim_44.json')
experiments_45, df_45 = load_experiments('../results/experim_45.json')
experiments_46, df_46 = load_experiments('../results/experim_46.json')
experiments_47, df_47 = load_experiments('../results/experim_47.json')
experiments_48, df_48 = load_experiments('../results/experim_48.json')
# experiments_49, df_49 = load_experiments('../results/experim_49.json')
# experiments_50, df_50 = load_experiments('../results/experim_50.json')
# experiments_51, df_51 = load_experiments('../results/experim_51.json')
# experiments_52, df_52 = load_experiments('../results/experim_52.json')

In [36]:
# experiments = experiments_17 + experiments_18 + experiments_19 + experiments_29 + \
experiments = experiments_31 + experiments_33 + experiments_32 + experiments_37

In [37]:
df = experiments_to_df(experiments)

In [46]:
table = df[df["train_window"] == 10]
# print(table[["weight_function", "mixing_type", "mean"]].to_latex(float_format="%.2f", index=False))
table[["alpha_function", "mixing_type", "mean"]]
# print(table[["alpha_function", "mixing_type", "weight_function", "mean"]].to_latex(formatters= {"mean": lambda x: round(x / 10000, 2)}, index=False))

     alpha_function    mixing_type       mean
37  1 / (x + 1)^0.5  decaying past  136054.92
30  1 / (x + 1)^1.5  decaying past  134772.88
39    1 / (x + 1)^2  decaying past  135387.37
40    1 / ln(x + 1)  decaying past  283210.46
41      1 / e^(x/3)  decaying past  135409.03
5      1 / (x + 10)   uniform past  110521.38
8     1 / (x + 100)   uniform past  110604.17
14   1 / (x + 1000)   uniform past  113447.62
23          1 / 100   uniform past  126579.65
22          1 / 500   uniform past  110553.23
45         1 / 1000   uniform past  109804.61
46         1 / 5000   uniform past  119177.49
49        1 / 10000   uniform past  124693.53
54        1 / 50000   uniform past  132477.77
1   1 / (x + 1)^0.5   uniform past  175610.93
12  1 / (x + 1)^1.5   uniform past  132418.35
3     1 / (x + 1)^2   uniform past  135301.37
29    1 / ln(x + 1)   uniform past  390906.14
27      1 / e^(x/3)   uniform past  135409.04
31  1 / (x + 1)^0.5  decaying past  131508.93
36  1 / (x + 1)^1.5  decaying past  132550.84
42    1 / (x + 1)^2  decaying past  132753.35
43    1 / ln(x + 1)  decaying past  236401.91
44      1 / e^(x/3)  decaying past  132760.88
6      1 / (x + 10)   uniform past  119758.30
9     1 / (x + 100)   uniform past  120269.13
15   1 / (x + 1000)   uniform past  123629.94
18          1 / 100   uniform past  122193.55
26          1 / 500   uniform past  114376.80
51         1 / 1000   uniform past  117809.05
52         1 / 5000   uniform past  127377.46
53        1 / 10000   uniform past  129766.19
56        1 / 50000   uniform past  132100.09
0   1 / (x + 1)^0.5   uniform past  146286.04
11  1 / (x + 1)^1.5   uniform past  131940.35
17    1 / (x + 1)^2   uniform past  132731.09
24    1 / ln(x + 1)   uniform past  309569.53
20      1 / e^(x/3)   uniform past  132760.88
35  1 / (x + 1)^0.5  decaying past  132880.13
38  1 / (x + 1)^1.5  decaying past  133653.10
32    1 / (x + 1)^2  decaying past  133999.80
33    1 / ln(x + 1)  decaying past  252792.84
34      1 / e^(x/3)  decaying past  134012.15
7      1 / (x + 10)   uniform past  114212.49
10    1 / (x + 100)   uniform past  114760.01
16   1 / (x + 1000)   uniform past  118679.47
19          1 / 100   uniform past  125443.80
28          1 / 500   uniform past  111701.01
48         1 / 1000   uniform past  113087.31
47         1 / 5000   uniform past  123913.36
50        1 / 10000   uniform past  127919.40
55        1 / 50000   uniform past  132530.84
2   1 / (x + 1)^0.5   uniform past  157817.94
13  1 / (x + 1)^1.5   uniform past  132462.74
4     1 / (x + 1)^2   uniform past  133958.00
25    1 / ln(x + 1)   uniform past  333528.48
21      1 / e^(x/3)   uniform past  134012.15

In [11]:
df_29

,noise_var,train_window,weight_function,mixing_type,alpha_function,mean,random_0,random_1,random_2,random_3
1,1,10,1 / (x^1.01),start,1 / 10000,119357.81,104143.1,94267.86,145855.06,133165.22
4,1,10,1 / (x^1.01),start,1 / 50000,125141.06,111077.8,98557.9,153195.0,137733.52
3,1,10,1 / c,start,1 / 10000,127510.93,111944.6,100848.11,155241.4,142009.62
5,1,10,1 / c,start,1 / 50000,131542.49,115937.31,102532.38,160593.19,147107.09
2,1,10,1 / (x^0.5),start,1 / 10000,120634.74,106022.74,96704.84,148112.27,131699.12
0,1,10,1 / (x^0.5),start,1 / 50000,129963.25,114929.13,101955.53,159109.38,143858.96