In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings

# warnings.filterwarnings('ignore')
plt.rcParams['figure.dpi'] = 80

import sys
sys.path.insert(0, '..')

import os

from hypers import weight_hypers
from hypers import alpha_hypers 

from experiment import Params
from experiment import run_experiments
from experiment import load_experiments
from experiment import draw_regrets
from experiment import experiments_to_df

### Эксперимент

In [2]:
filepath = '../results/experiment_1-2.json'

seeds = 5 * np.arange(2, 8) + 111

params = Params(series_type = "default",
                from_start = False,
                a = -40,
                b = 40,
                dim = 10,
                low = -10,
                high = 10,
                clip = (-40, 40),
                workers_num = 3,
                length = 2000,
                lower_bound = 100,
                upper_bound = 400,
                alternating=True)

different_noises = [5, 8, 10, 12, 14, 16]
different_windows = [5, 20]
different_wf = ["simple_101"]
different_af = []


# experiments, df = run_experiments(filepath, seeds, params, different_noises, different_windows, different_wf, different_af)
experiments, df = load_experiments(filepath)

In [3]:
os.stat(filepath).st_size

10933564

In [4]:
experiments0, df0 = load_experiments('../results/experiment_1-0.json')
experiments1, df1 = load_experiments('../results/experiment_1-1.json')
experiments2, df2 = load_experiments('../results/experiment_1-2.json')
df = experiments_to_df(experiments0 + experiments1 + experiments2)

In [5]:
df

,noise_var,train_window,weight_function,alpha_function,regret,random_0,random_1,random_2,random_3,random_4,random_5
0,0.01,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),134095.49,152530.34,103514.16,143249.47,156333.34,147758.98,101186.65
1,0.01,10,1 / (x^1.01),1 / (x + 1),96051.92,109387.14,75235.8,101162.24,116091.92,105232.22,69202.2
2,0.1,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),134737.06,152384.61,103483.44,143408.38,159213.05,148363.42,101569.48
3,0.1,10,1 / (x^1.01),1 / (x + 1),96405.69,109224.31,75113.77,101218.76,117813.89,105526.64,69536.78
4,1,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),137393.44,154356.86,108887.47,145837.51,161369.51,151821.54,102087.72
5,1,10,1 / (x^1.01),1 / (x + 1),96409.80,106113.72,77114.55,101048.15,119799.63,105637.6,68745.14
6,2,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),144197.45,163412.43,121480.48,149024.76,166486.71,157094.29,107686.01
7,2,10,1 / (x^1.01),1 / (x + 1),98594.92,107128.19,83475.46,101526.48,123783.79,105021.81,70633.79
28,5,5,1 / (x^1.01),1 / (x + 1),122250.13,175686.22,142440.66,-51334.99,163690.15,180570.88,122447.85
8,5,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),173417.95,193079.9,168613.08,170679.19,198798.62,183836.3,125500.62
9,5,10,1 / (x^1.01),1 / (x + 1),113196.16,118600.37,111954.09,113964.22,146032.13,113082.59,75543.57
29,5,20,1 / (x^1.01),1 / (x + 1),82399.59,87930.81,61401.94,91341.24,106015.08,90333.25,57375.19
30,8,5,1 / (x^1.01),1 / (x + 1),146780.24,172819.38,122371.48,129680.01,157552.88,185221.39,113036.31
19,8,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),195550.03,232615.49,192191.82,182434.57,213812.86,204617.61,147627.81
18,8,10,1 / (x^1.01),1 / (x + 1),125044.89,141092.87,130348.26,113365.11,151978.07,123882.96,89602.07
31,8,20,1 / (x^1.01),1 / (x + 1),82789.22,83659.18,65793.09,88225.74,112115.62,90607.65,56334.05
32,10,5,1 / (x^1.01),1 / (x + 1),132962.47,140573.46,101960.26,124996.75,144083.1,177902.57,108258.66
10,10,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),197816.06,232286.43,194948.0,189108.79,214523.55,196621.85,159407.71
11,10,10,1 / (x^1.01),1 / (x + 1),122794.43,133550.92,131204.12,112563.42,146529.37,114976.72,97942.02
33,10,20,1 / (x^1.01),1 / (x + 1),55141.82,84512.66,73289.87,81706.44,117658.57,-84348.49,58031.89
34,12,5,1 / (x^1.01),1 / (x + 1),126337.35,131133.82,121356.14,108651.5,145185.59,160746.01,90951.01
21,12,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),186915.28,230309.22,186820.19,151431.63,215352.86,186636.65,150941.11
20,12,10,1 / (x^1.01),1 / (x + 1),-214388.94,121801.71,121282.54,-1030713.82,-689606.1,101784.5,89117.54
35,12,20,1 / (x^1.01),1 / (x + 1),-35126.22,83358.79,74091.72,-407544.98,120880.5,-131110.16,49566.83
36,14,5,1 / (x^1.01),1 / (x + 1),102018.68,115291.18,110616.66,104362.43,63101.0,142218.54,76522.29
23,14,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),177441.98,248419.67,179863.83,181074.78,192704.14,138863.51,123725.93
22,14,10,1 / (x^1.01),1 / (x + 1),-987025.66,131063.74,109685.0,-74821.5,-411742.81,-5333735.95,-342602.44
37,14,20,1 / (x^1.01),1 / (x + 1),-114079.74,75737.82,-150254.19,-467282.01,110134.68,-87804.26,-165010.47
38,16,5,1 / (x^1.01),1 / (x + 1),83715.52,114106.98,92919.35,88706.29,15677.45,125325.95,65557.12
25,16,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),64705.94,240037.33,169518.93,161184.89,173066.62,132351.42,-487923.57
24,16,10,1 / (x^1.01),1 / (x + 1),-579681.17,-190142.91,98299.66,-1005616.99,-293527.49,-1050600.9,-1036498.4
39,16,20,1 / (x^1.01),1 / (x + 1),-169893.14,73328.25,-125961.8,-197512.41,-88144.59,-229787.39,-451280.87
27,18,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),-303218.99,217713.31,156742.89,-822284.83,176200.64,-93359.99,-1454325.96
26,18,10,1 / (x^1.01),1 / (x + 1),-2750386.68,-1781235.27,87965.14,-2389753.28,-273113.34,-10632927.8,-1513255.56
12,20,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),-2256576.58,128698.43,141537.99,-472406.73,133545.14,20589.31,-13491423.62
13,20,10,1 / (x^1.01),1 / (x + 1),-3934893.29,-2390537.82,71733.94,-865451.89,-1301270.49,-1870336.16,-17253497.3
14,50,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),-14179747.62,-13345821.98,-29738844.99,-16765819.66,-5945516.12,-17960051.36,-1322431.64
15,50,10,1 / (x^1.01),1 / (x + 1),-19518686.38,-17860670.8,-34244080.31,-34442836.71,-6289631.1,-20480504.52,-3794394.82
16,100,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),-9876144.97,-25162051.96,-6786960.58,-5003170.48,-335644.56,-20470692.67,-1498349.55
17,100,10,1 / (x^1.01),1 / (x + 1),-15918714.03,-30330216.33,-6851925.66,-5003266.78,-26987544.86,-21058205.56,-5281124.98

In [54]:
regret_default = df[(df['train_window'] == 10) & (df['weight_function'] == weight_hypers["default"].repr)].iloc[:,4]
regret_new = df[(df['train_window'] == 10) & (df['weight_function'] == weight_hypers["simple_101"].repr)].iloc[:,4]

In [55]:
table = df[(df['train_window'] == 10) & (df['weight_function'] == weight_hypers["simple_101"].repr)].iloc[:,:5].drop(["weight_function", "regret"], axis=1).set_index("noise_var", drop=True)

In [56]:
table["default weight func regret"] = regret_default.values
table["new weight func regret"] = regret_new.values
table

,train_window,alpha_function,default weight func regret,new weight func regret
noise_var,,,,
0.01,10,1 / (x + 1),134095.49,96051.92
0.1,10,1 / (x + 1),134737.06,96405.69
1,10,1 / (x + 1),137393.44,96409.80
2,10,1 / (x + 1),144197.45,98594.92
5,10,1 / (x + 1),173417.95,113196.16
8,10,1 / (x + 1),195550.03,125044.89
10,10,1 / (x + 1),197816.06,122794.43
12,10,1 / (x + 1),186915.28,-214388.94
14,10,1 / (x + 1),177441.98,-987025.66
16,10,1 / (x + 1),64705.94,-579681.17
18,10,1 / (x + 1),-303218.99,-2750386.68
20,10,1 / (x + 1),-2256576.58,-3934893.29
50,10,1 / (x + 1),-14179747.62,-19518686.38
100,10,1 / (x + 1),-9876144.97,-15918714.03

In [57]:
df_w = df[df["alpha_function"] == alpha_hypers["default"].repr].iloc[:,:5]
df_w

,noise_var,train_window,weight_function,alpha_function,regret
0,0.01,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),134095.49
1,0.01,10,1 / (x^1.01),1 / (x + 1),96051.92
2,0.1,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),134737.06
3,0.1,10,1 / (x^1.01),1 / (x + 1),96405.69
4,1,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),137393.44
5,1,10,1 / (x^1.01),1 / (x + 1),96409.80
6,2,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),144197.45
7,2,10,1 / (x^1.01),1 / (x + 1),98594.92
28,5,5,1 / (x^1.01),1 / (x + 1),122250.13
8,5,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),173417.95
9,5,10,1 / (x^1.01),1 / (x + 1),113196.16
29,5,20,1 / (x^1.01),1 / (x + 1),82399.59
30,8,5,1 / (x^1.01),1 / (x + 1),146780.24
19,8,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),195550.03
18,8,10,1 / (x^1.01),1 / (x + 1),125044.89
31,8,20,1 / (x^1.01),1 / (x + 1),82789.22
32,10,5,1 / (x^1.01),1 / (x + 1),132962.47
10,10,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),197816.06
11,10,10,1 / (x^1.01),1 / (x + 1),122794.43
33,10,20,1 / (x^1.01),1 / (x + 1),55141.82
34,12,5,1 / (x^1.01),1 / (x + 1),126337.35
21,12,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),186915.28
20,12,10,1 / (x^1.01),1 / (x + 1),-214388.94
35,12,20,1 / (x^1.01),1 / (x + 1),-35126.22
36,14,5,1 / (x^1.01),1 / (x + 1),102018.68
23,14,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),177441.98
22,14,10,1 / (x^1.01),1 / (x + 1),-987025.66
37,14,20,1 / (x^1.01),1 / (x + 1),-114079.74
38,16,5,1 / (x^1.01),1 / (x + 1),83715.52
25,16,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),64705.94
24,16,10,1 / (x^1.01),1 / (x + 1),-579681.17
39,16,20,1 / (x^1.01),1 / (x + 1),-169893.14
27,18,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),-303218.99
26,18,10,1 / (x^1.01),1 / (x + 1),-2750386.68
12,20,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),-2256576.58
13,20,10,1 / (x^1.01),1 / (x + 1),-3934893.29
14,50,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),-14179747.62
15,50,10,1 / (x^1.01),1 / (x + 1),-19518686.38
16,100,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),-9876144.97
17,100,10,1 / (x^1.01),1 / (x + 1),-15918714.03

In [8]:
df_a = df[df["weight_function"] == weight_hypers["simple_101"].repr].iloc[:,:5]
df_a

   noise_var train_window weight_function alpha_function       regret
1       0.01           10    1 / (x^1.01)    1 / (x + 1)     96051.92
3        0.1           10    1 / (x^1.01)    1 / (x + 1)     96405.69
5          1           10    1 / (x^1.01)    1 / (x + 1)     96409.80
7          2           10    1 / (x^1.01)    1 / (x + 1)     98594.92
28         5            5    1 / (x^1.01)    1 / (x + 1)    122250.13
9          5           10    1 / (x^1.01)    1 / (x + 1)    113196.16
29         5           20    1 / (x^1.01)    1 / (x + 1)     82399.59
30         8            5    1 / (x^1.01)    1 / (x + 1)    146780.24
18         8           10    1 / (x^1.01)    1 / (x + 1)    125044.89
31         8           20    1 / (x^1.01)    1 / (x + 1)     82789.22
32        10            5    1 / (x^1.01)    1 / (x + 1)    132962.47
11        10           10    1 / (x^1.01)    1 / (x + 1)    122794.43
33        10           20    1 / (x^1.01)    1 / (x + 1)     55141.82
34        12            5    1 / (x^1.01)    1 / (x + 1)    126337.35
20        12           10    1 / (x^1.01)    1 / (x + 1)   -214388.94
35        12           20    1 / (x^1.01)    1 / (x + 1)    -35126.22
36        14            5    1 / (x^1.01)    1 / (x + 1)    102018.68
22        14           10    1 / (x^1.01)    1 / (x + 1)   -987025.66
37        14           20    1 / (x^1.01)    1 / (x + 1)   -114079.74
38        16            5    1 / (x^1.01)    1 / (x + 1)     83715.52
24        16           10    1 / (x^1.01)    1 / (x + 1)   -579681.17
39        16           20    1 / (x^1.01)    1 / (x + 1)   -169893.14
26        18           10    1 / (x^1.01)    1 / (x + 1)  -2750386.68
13        20           10    1 / (x^1.01)    1 / (x + 1)  -3934893.29
15        50           10    1 / (x^1.01)    1 / (x + 1) -19518686.38
17       100           10    1 / (x^1.01)    1 / (x + 1) -15918714.03

In [9]:
df[["noise_var", "train_window", "mean"]].groupby(["noise_var", "train_window"]).mean()

KeyError: "['mean'] not in index"

In [ ]:
enumerated = [(num, experiment) for num, experiment in enumerate(experiments)]
for num, experiment in enumerated[::2]:
    draw_regrets(experiment.logs, show=["master", "ideal"], title=f"Experiment №{num},  regret = {experiment.regret:.1f}", fig_size=(12, 5))