In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings

# warnings.filterwarnings('ignore')
plt.rcParams['figure.dpi'] = 80

import sys
sys.path.insert(0, '..')

import os

from hypers import weight_hypers
from hypers import alpha_hypers 

from experiment import Params
from experiment import run_experiments
from experiment import load_experiments
from experiment import draw_regrets
from experiment import experiments_to_df

### Эксперимент

In [3]:
filepath = '../results/experiment_1-2.json'

seeds = 5 * np.arange(2, 8) + 111

params = Params(series_type = "default",
                from_start = False,
                a = -40,
                b = 40,
                dim = 10,
                low = -10,
                high = 10,
                clip = (-40, 40),
                workers_num = 3,
                length = 2000,
                lower_bound = 100,
                upper_bound = 400,
                alternating=True)

different_noises = [5, 8, 10, 12, 14, 16]
different_windows = [5, 20]
different_wf = ["simple_101"]
different_af = []


# experiments, df = run_experiments(filepath, seeds, params, different_noises, different_windows, different_wf, different_af)
experiments, df = load_experiments(filepath)

In [4]:
os.stat(filepath).st_size

10933564

In [5]:
# experiments0, df0 = load_experiments('../results/experiment_1-0.json')
# experiments1, df1 = load_experiments('../results/experiment_1-1.json')
# experiments2, df2 = load_experiments('../results/experiment_1-2.json')
# df = experiments_to_df(experiments0 + experiments1 + experiments2)

In [8]:
experiments0, df0 = load_experiments('../results/experiment_2-0.json')
experiments1, df1 = load_experiments('../results/experiment_2-1.json')
# experiments2, df2 = load_experiments('../results/experiment_2-2.json')
df = experiments_to_df(experiments0 + experiments1 + experiments2)

In [10]:
df[df["train_window"] == 10]

,noise_var,train_window,weight_function,alpha_function,regret,random_0,random_1,random_2
15,1,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),136360.61,154356.86,108887.47,145837.51
72,1,10,1 / (x^1.01),1 / (x + 10),94729.22,106084.7,77090.78,101012.18
73,1,10,1 / (x^1.01),1 / (x + 100),94441.30,105802.28,76858.56,100663.07
70,1,10,1 / (x^1.01),1 / (x + 1000),92194.36,103617.59,74973.38,97992.1
20,1,10,1 / (x^1.01),1 / (x + 1),94758.81,106113.72,77114.55,101048.15
17,1,10,1 / (x^1.01),1 / (x + 1)^0.1,403703.32,344549.11,414416.18,452144.67
14,1,10,1 / (x^1.01),1 / (x + 1)^0.5,149472.52,149335.87,137867.34,161214.36
18,1,10,1 / (x^1.01),1 / (x + 1)^1.5,92351.58,108196.42,71236.91,97621.42
16,1,10,1 / (x^1.01),1 / (x + 1)^2,99120.36,118082.62,76464.07,102814.38
11,1,10,1 / (x^1.01),1 / e^(x/3),99477.13,118655.65,76750.3,103025.43
12,1,10,1 / (x^1.1),1 / (x + 1),98359.26,110153.6,79454.07,105470.12
21,1,10,1 / (x^2),1 / (x + 1),113298.39,130525.24,88559.76,120810.16
19,1,10,1 / e^(x/4),1 / (x + 1),425358.37,337358.16,484331.57,454385.39
13,1,10,1 / ((x + 4) * ln(x + 4) * (ln(ln(x + 4)))^2,1 / (x + 1),127634.11,141446.96,103613.84,137841.54
71,1,10,1 / c,1 / (x + 1),83776.19,97360.8,66377.54,87590.24

In [54]:
regret_default = df[(df['train_window'] == 10) & (df['weight_function'] == weight_hypers["default"].repr)].iloc[:,4]
regret_new = df[(df['train_window'] == 10) & (df['weight_function'] == weight_hypers["simple_101"].repr)].iloc[:,4]

In [55]:
table = df[(df['train_window'] == 10) & (df['weight_function'] == weight_hypers["simple_101"].repr)].iloc[:,:5].drop(["weight_function", "regret"], axis=1).set_index("noise_var", drop=True)

In [56]:
table["default weight func regret"] = regret_default.values
table["new weight func regret"] = regret_new.values
table

,train_window,alpha_function,default weight func regret,new weight func regret
noise_var,,,,
0.01,10,1 / (x + 1),134095.49,96051.92
0.1,10,1 / (x + 1),134737.06,96405.69
1,10,1 / (x + 1),137393.44,96409.80
2,10,1 / (x + 1),144197.45,98594.92
5,10,1 / (x + 1),173417.95,113196.16
8,10,1 / (x + 1),195550.03,125044.89
10,10,1 / (x + 1),197816.06,122794.43
12,10,1 / (x + 1),186915.28,-214388.94
14,10,1 / (x + 1),177441.98,-987025.66
16,10,1 / (x + 1),64705.94,-579681.17
18,10,1 / (x + 1),-303218.99,-2750386.68
20,10,1 / (x + 1),-2256576.58,-3934893.29
50,10,1 / (x + 1),-14179747.62,-19518686.38
100,10,1 / (x + 1),-9876144.97,-15918714.03

In [57]:
df_w = df[df["alpha_function"] == alpha_hypers["default"].repr].iloc[:,:5]
df_w

,noise_var,train_window,weight_function,alpha_function,regret
0,0.01,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),134095.49
1,0.01,10,1 / (x^1.01),1 / (x + 1),96051.92
2,0.1,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),134737.06
3,0.1,10,1 / (x^1.01),1 / (x + 1),96405.69
4,1,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),137393.44
5,1,10,1 / (x^1.01),1 / (x + 1),96409.80
6,2,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),144197.45
7,2,10,1 / (x^1.01),1 / (x + 1),98594.92
28,5,5,1 / (x^1.01),1 / (x + 1),122250.13
8,5,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),173417.95
9,5,10,1 / (x^1.01),1 / (x + 1),113196.16
29,5,20,1 / (x^1.01),1 / (x + 1),82399.59
30,8,5,1 / (x^1.01),1 / (x + 1),146780.24
19,8,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),195550.03
18,8,10,1 / (x^1.01),1 / (x + 1),125044.89
31,8,20,1 / (x^1.01),1 / (x + 1),82789.22
32,10,5,1 / (x^1.01),1 / (x + 1),132962.47
10,10,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),197816.06
11,10,10,1 / (x^1.01),1 / (x + 1),122794.43
33,10,20,1 / (x^1.01),1 / (x + 1),55141.82
34,12,5,1 / (x^1.01),1 / (x + 1),126337.35
21,12,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),186915.28
20,12,10,1 / (x^1.01),1 / (x + 1),-214388.94
35,12,20,1 / (x^1.01),1 / (x + 1),-35126.22
36,14,5,1 / (x^1.01),1 / (x + 1),102018.68
23,14,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),177441.98
22,14,10,1 / (x^1.01),1 / (x + 1),-987025.66
37,14,20,1 / (x^1.01),1 / (x + 1),-114079.74
38,16,5,1 / (x^1.01),1 / (x + 1),83715.52
25,16,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),64705.94
24,16,10,1 / (x^1.01),1 / (x + 1),-579681.17
39,16,20,1 / (x^1.01),1 / (x + 1),-169893.14
27,18,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),-303218.99
26,18,10,1 / (x^1.01),1 / (x + 1),-2750386.68
12,20,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),-2256576.58
13,20,10,1 / (x^1.01),1 / (x + 1),-3934893.29
14,50,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),-14179747.62
15,50,10,1 / (x^1.01),1 / (x + 1),-19518686.38
16,100,10,1 / ((x + 1) * (ln(x + 1))^2),1 / (x + 1),-9876144.97
17,100,10,1 / (x^1.01),1 / (x + 1),-15918714.03

In [8]:
df_a = df[df["weight_function"] == weight_hypers["simple_101"].repr].iloc[:,:5]
df_a

   noise_var train_window weight_function alpha_function       regret
1       0.01           10    1 / (x^1.01)    1 / (x + 1)     96051.92
3        0.1           10    1 / (x^1.01)    1 / (x + 1)     96405.69
5          1           10    1 / (x^1.01)    1 / (x + 1)     96409.80
7          2           10    1 / (x^1.01)    1 / (x + 1)     98594.92
28         5            5    1 / (x^1.01)    1 / (x + 1)    122250.13
9          5           10    1 / (x^1.01)    1 / (x + 1)    113196.16
29         5           20    1 / (x^1.01)    1 / (x + 1)     82399.59
30         8            5    1 / (x^1.01)    1 / (x + 1)    146780.24
18         8           10    1 / (x^1.01)    1 / (x + 1)    125044.89
31         8           20    1 / (x^1.01)    1 / (x + 1)     82789.22
32        10            5    1 / (x^1.01)    1 / (x + 1)    132962.47
11        10           10    1 / (x^1.01)    1 / (x + 1)    122794.43
33        10           20    1 / (x^1.01)    1 / (x + 1)     55141.82
34        12            5    1 / (x^1.01)    1 / (x + 1)    126337.35
20        12           10    1 / (x^1.01)    1 / (x + 1)   -214388.94
35        12           20    1 / (x^1.01)    1 / (x + 1)    -35126.22
36        14            5    1 / (x^1.01)    1 / (x + 1)    102018.68
22        14           10    1 / (x^1.01)    1 / (x + 1)   -987025.66
37        14           20    1 / (x^1.01)    1 / (x + 1)   -114079.74
38        16            5    1 / (x^1.01)    1 / (x + 1)     83715.52
24        16           10    1 / (x^1.01)    1 / (x + 1)   -579681.17
39        16           20    1 / (x^1.01)    1 / (x + 1)   -169893.14
26        18           10    1 / (x^1.01)    1 / (x + 1)  -2750386.68
13        20           10    1 / (x^1.01)    1 / (x + 1)  -3934893.29
15        50           10    1 / (x^1.01)    1 / (x + 1) -19518686.38
17       100           10    1 / (x^1.01)    1 / (x + 1) -15918714.03

In [9]:
df[["noise_var", "train_window", "mean"]].groupby(["noise_var", "train_window"]).mean()

KeyError: "['mean'] not in index"

In [ ]:
enumerated = [(num, experiment) for num, experiment in enumerate(experiments)]
for num, experiment in enumerated[::2]:
    draw_regrets(experiment.logs, show=["master", "ideal"], title=f"Experiment №{num},  regret = {experiment.regret:.1f}", fig_size=(12, 5))