In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings

# warnings.filterwarnings('ignore')
plt.rcParams['figure.dpi'] = 80

import sys
sys.path.insert(0, '..')

### Эксперимент

In [4]:
from hypers import weight_hypers
from hypers import alpha_hypers

In [6]:
from experiment import run_experiments

In [7]:
windows = [5, 10, 20]
# noises = [0.0001, 0.001, 0.1, 1, 10, 100]
interesting_w = []
interesting_a = ["default", "simple_05"]
filepath = '../results/experiment_1.json'
# experiments, df = run_experiments(windows, interesting_w, interesting_a, filepath)

100%|█████████████████████████████████████████████████████████████████████████| 248/248 [00:00<00:00, 355.32it/s]
100%|█████████████████████████████████████████████████████████████████████████| 248/248 [00:00<00:00, 375.28it/s]
100%|█████████████████████████████████████████████████████████████████████████| 248/248 [00:00<00:00, 372.10it/s]
100%|█████████████████████████████████████████████████████████████████████████| 248/248 [00:00<00:00, 370.44it/s]
100%|█████████████████████████████████████████████████████████████████████████| 248/248 [00:00<00:00, 368.36it/s]
100%|█████████████████████████████████████████████████████████████████████████| 248/248 [00:00<00:00, 354.30it/s]

In [8]:
df

  train_window weight_function   alpha_function      mean  random_1
0            5    1 / (x^1.01)      1 / (x + 1)  18837.32  18837.32
1            5    1 / (x^1.01)  1 / (x + 1)^0.5   2445.89   2445.89
2           10    1 / (x^1.01)      1 / (x + 1)  24665.09  24665.09
3           10    1 / (x^1.01)  1 / (x + 1)^0.5  25366.92  25366.92
4           20    1 / (x^1.01)      1 / (x + 1)  24881.52  24881.52
5           20    1 / (x^1.01)  1 / (x + 1)^0.5  24643.48  24643.48

In [9]:
df_w = df[df["alpha_function"] == "1 / (x + 1)"].iloc[:, :4]
df_w

  train_window weight_function alpha_function      mean
0            5    1 / (x^1.01)    1 / (x + 1)  18837.32
2           10    1 / (x^1.01)    1 / (x + 1)  24665.09
4           20    1 / (x^1.01)    1 / (x + 1)  24881.52

In [10]:
df_a = df[df["weight_function"] == "1 / (x^1.01)"].iloc[:,:4]
df_a

  train_window weight_function   alpha_function      mean
0            5    1 / (x^1.01)      1 / (x + 1)  18837.32
1            5    1 / (x^1.01)  1 / (x + 1)^0.5   2445.89
2           10    1 / (x^1.01)      1 / (x + 1)  24665.09
3           10    1 / (x^1.01)  1 / (x + 1)^0.5  25366.92
4           20    1 / (x^1.01)      1 / (x + 1)  24881.52
5           20    1 / (x^1.01)  1 / (x + 1)^0.5  24643.48

In [11]:
df[["train_window", "mean"]].groupby("train_window").mean()

                   mean
train_window
5             10641.605
10            25016.005
20            24762.500